.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  appearance: none;
  background: none;
  font-size: 1.4rem;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.15s;

  display: grid;
  place-items: center;
}

.textboxLook {
  appearance: none;
  background: none;
  font-size: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  border-radius: 2px;

  width: 3rem;
  height: 2rem;
  background: white;
  border: 1px solid grey;

  display: grid;
  place-items: center;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(41, 41, 41, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}
